.App {
  text-align: center;

  display: grid;
  grid-template-rows: 11vh 84vh 5vh;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "header header header" "navbar main main" "footer footer footer";
}
